<div class="transaction">
    <mat-card class="type">
        <mat-card-content>
            <mat-card-title>{{type}}</mat-card-title>
            <mat-card-subtitle>ID: {{transactionId}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card class="info">
        <mat-card-content>
            <mat-card-title>Transaction Label</mat-card-title>
            <mat-card-subtitle>{{date}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
    <mat-card class="amount">
        <mat-card-content>
            <mat-card-title>{{amount}}</mat-card-title>
            <mat-card-subtitle>{{status}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</div>
<mat-divider></mat-divider>