<mat-card appearance="outlined" id="transactions">
    <div id="tools-container"></div>
    <mat-card id="transactions-list">
        <mat-list>
            <mat-list-item>
                <app-transaction
                    type="Credit"
                    transactionId="1234567"
                    date="2023-10-01"
                    amount="Rs. 100.00"
                    status="Completed" 
                ></app-transaction>
            </mat-list-item>
            <mat-list-item>
                <app-transaction
                    type="Debit"
                    transactionId="1234568"
                    date="2023-10-02"
                    amount="Rs. 50.00"
                    status="Pending" 
                ></app-transaction>
            </mat-list-item>
        </mat-list>
    </mat-card>
    <div id="pagination-container">
        <mat-paginator
            [length]="100"
            [pageSize]="10"
            [pageSizeOptions]="[5, 10, 20]"
            aria-label="Select page of transactions"
        >
        </mat-paginator>
    </div>
</mat-card>
